.signup-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 160px; 
    margin-bottom: 140px;      
}

.signup-form-button {
    width: 100%;
    margin-top: 2px;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: rgb(245, 242, 242) !important;
    background-color: #1890ff !important;
    border-color: #1890ff;
}

.signup-form input {
    margin-bottom: 0px;
}